# PART4 欠損値を確認してみよう

## おまじない

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## データの読み込み
- train.csvを読み込みましょう
- 読み込んだものは変数trainに代入しましょう

In [2]:
train = pd.read_csv("train.csv")

## trainの先頭行を確認しましょう

In [3]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## 各値が欠損値か否かを出力しましょう
- 欠損とは何らかの理由で、データの値が入っていない状態のことをいいます
- データ分析において欠損がある場合の対応はとても重要となります
- 欠損の有無を確認する為にはisnull関数を使います
- 欠損値の時、Trueと表示されます

In [4]:
train.isnull()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,False,False,False,False,False,True,True,True,True,False,False,False
1,False,False,False,False,False,True,True,True,True,False,False,False
2,False,False,False,False,False,True,True,True,True,False,False,False
3,False,False,False,False,False,True,True,True,True,False,False,False
4,False,False,False,False,False,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
202,False,False,False,False,False,False,True,True,True,False,False,False
203,False,False,False,False,False,False,True,True,True,False,False,False
204,False,False,False,False,False,True,False,False,True,False,False,False
205,False,False,False,False,False,False,True,True,True,False,False,False
206,False,False,False,False,False,False,True,True,True,False,False,False

## 各列（カラム）にTrueが１つ以上あるかないかを確かめてみましょう
- isnull関数のあとにany関数を付け加えます。付け加える時はドット(.)で繋ぎます
- 1つ以上欠損値を含んでいる場合、Trueと表示されます

In [6]:
train.isnull().any()

datetime         False
y                False
week             False
soldout          False
name             False
kcal              True
remarks           True
event             True
payday            True
weather          False
precipitation    False
temperature      False
dtype: bool

## 具体的に各列（カラム）に欠損値が幾つあるか数えてみましょう
- isnull関数のあとにsum関数を付け加えます

In [7]:
train.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
dtype: int64

## もう一度trainの先頭行を出力し、kcalに注目してみましょう

In [8]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## 欠損値の処理をしましょう
- 欠損値の処理は別のなんらかの値を代入（補間といいます）するか、欠損値を含む行を削除するかで対応します
- ここではまず、欠損値を0で補間してみましょう
- fillna関数を使います

In [9]:
train.fillna(0)

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,--,16.1
...,...,...,...,...,...,...,...,...,...,...,...,...
202,2014-9-24,59,水,1,白身魚のマスタード焼き,408.0,0,0,0.0,曇,0,24.8
203,2014-9-25,50,木,0,牛カルビ焼き肉,394.0,0,0,0.0,曇,0,25.4
204,2014-9-26,45,金,0,ランチビュッフェ,0.0,スペシャルメニュー（800円）,キャリアアップ支援セミナー,0.0,晴れ,--,27.1
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,0,0,0.0,快晴,--,26.6
206,2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,0,0,0.0,快晴,--,28.1

## 今度は欠損値を削除してみましょう
- dropna関数を使います
- ある列に欠損値があった場合のみ、その行を削除したい場合はオプションとしてsubset=[ ]を使います

In [10]:
train.dropna()

Empty DataFrame
Columns: [datetime, y, week, soldout, name, kcal, remarks, event, payday, weather, precipitation, temperature]
Index: []

In [11]:
train.dropna(subset=["kcal"])

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
28,2014-1-7,131,火,0,カレー入りソーセージカツ,404.0,NaN,NaN,NaN,快晴,--,7.3
29,2014-1-8,128,水,0,豚肉の生姜焼,462.0,NaN,NaN,NaN,曇,--,9.8
30,2014-1-9,129,木,1,鶏チリソース,435.0,NaN,NaN,NaN,曇,--,10.9
31,2014-1-10,87,金,0,手作りロースカツ,440.0,NaN,NaN,1.0,快晴,--,5.1
32,2014-1-14,129,火,1,鶏の照り焼きマスタード,376.0,NaN,NaN,NaN,晴れ,--,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...
201,2014-9-22,29,月,0,筑前煮,395.0,NaN,NaN,NaN,晴れ,--,25.2
202,2014-9-24,59,水,1,白身魚のマスタード焼き,408.0,NaN,NaN,NaN,曇,0,24.8
203,2014-9-25,50,木,0,牛カルビ焼き肉,394.0,NaN,NaN,NaN,曇,0,25.4
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6
206,2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1

## precipitationには本当に欠損値がないか確認してみましょう
- 行の中の値がそれぞれ幾つあるかを確認したい場合は、value_counts関数を使います

In [13]:
train["precipitation"].value_counts()

--     169
0       23
0.5      9
1.5      2
6.5      1
6        1
1        1
2.5      1
Name: precipitation, dtype: int64